@import "bootstrap";
@import "_variables.scss";
@import "_root.scss";
@import "_utilities.scss";
@import "_tooltip.scss";
@import "_navbar.scss";
@import "_nav.scss";
@import "_grid.scss";
@import "_forms.scss";
@import "_buttons.scss";

// Variables
$color-p:white;
$primary:red;
$color-footer:gray;

.parrafo-color{
color: $color-p;
}


// Mixin para estilos comunes de los encabezados
@mixin header-styles {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; 
}

h7 {
  @include header-styles;
  color: $color-footer;
  margin-bottom: 2rem;
  align-content: start;
  text-align: left;
  align-items: start;
  
  // Pseudo-clase para el estado :hover
  &:hover {
    color: #494848;
  }
}

// Crear una nueva clase basada en img-fluid con estilos adicionales
.grilla-image {
  @extend .img-fluid; // Hereda los estilos de img-fluid
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 300px;
  height: 250px;
  text-align: center;
}
.promos-image {
  @extend .img-fluid; // Hereda los estilos de img-fluid
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 100px;
  text-align: center;
}
.logos-image {
  @extend .img-fluid; // Hereda los estilos de img-fluid
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  text-align: center;
  text-justify: distribute;
}

@media (max-width: 768px) {
  .ocultar-en-pequeno {
    visibility: hidden;
  }
}

  

  